*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__h1{
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.header__hr{
  width: 95%;
  margin-bottom: 1em;
}

.header__div{
  display: flex;
  justify-content: center;
  width: 80%;
}

.header__div__p{
  max-width: 40em;
  min-width: 5em;
  text-align: center;
}

.header__div__p--span{
  font-weight: bold;
}

#caja{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(250, 235, 215);
  width: 30vmax;
  height: 200px;
  border-radius: 5px;
  box-shadow: 2px 4px 9px -5px rgba(0, 0, 0, 0.34);
}

.btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 5px;
  border: solid black 1px;
  background-color: rgb(28, 37, 104);
  color: white;
  font-size: 16px;
}

.btn:hover{
  background-color:rgb(18, 22, 75);
  cursor:pointer;
  transition: all 0.400s;
}

.btn:active{
  font-size: 15.5px;
}